[submodule "libpqueue"]
	path = libpqueue
	url = https://github.com/vy/libpqueue.git
[submodule "rbtree"]
	path = rbtree
	url = https://github.com/frobnitzem/rbtree.git
[submodule "portaudio"]
	path = portaudio
	url = git://git.assembla.com/portaudio.git
